In [ ]:
# import necessary libraries
import pandas as pd

In [ ]:
# load dataset
data = pd.read_csv("NYPD_Shooting_Incident_Data__Historic_Cleaned.csv")
data.head()

,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,...,Y_COORD_CD,Latitude,Longitude,year,month,day,hour,minute,LON_GEO,LAT_GEO
0,QUEENS,105,0.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,18-24,M,...,180924.000000,40.662965,-73.730839,2021,5,27,21,30,-73.730839,40.662965
1,BRONX,40,0.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,18-24,M,...,234516.000000,40.810352,-73.924942,2014,6,27,17,40,-73.924942,40.810352
2,QUEENS,108,0.0,MULTI DWELL - PUBLIC HOUS,True,18-24,M,BLACK,25-44,M,...,209836.531250,40.742607,-73.915492,2015,11,21,3,56,-73.915492,40.742607
3,BRONX,44,0.0,MULTI DWELL - PUBLIC HOUS,False,18-24,M,BLACK,<18,M,...,244511.140625,40.837782,-73.919457,2015,10,9,18,30,-73.919457,40.837782
4,BRONX,47,0.0,MULTI DWELL - PUBLIC HOUS,True,25-44,M,BLACK,45-64,M,...,262189.406250,40.886238,-73.852910,2009,2,19,22,58,-73.852910,40.886238

In [ ]:
# data backup
df = data.copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27308 entries, 0 to 27307
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   BORO                     27308 non-null  object
 1   PRECINCT                 27308 non-null  int64
 2   JURISDICTION_CODE        27308 non-null  float64
 3   LOCATION_DESC            27308 non-null  object
 4   STATISTICAL_MURDER_FLAG  27308 non-null  bool
 5   PERP_AGE_GROUP           27308 non-null  object
 6   PERP_SEX                 27308 non-null  object
 7   PERP_RACE                27308 non-null  object
 8   VIC_AGE_GROUP            27308 non-null  object
 9   VIC_SEX                  27308 non-null  object
 10  VIC_RACE                 27308 non-null  object
 11  X_COORD_CD               27308 non-null  float64
 12  Y_COORD_CD               27308 non-null  float64
 13  Latitude                 27308 non-null  float64
 14  Longitude                27308 non-null  float64
 15  year                     27308 non-null  int64
 16  month                    27308 non-null  int64
 17  day                      27308 non-null  int64
 18  hour                     27308 non-null  int64
 19  minute                   27308 non-null  int64
 20  LON_GEO                  27308 non-null  float64
 21  LAT_GEO                  27308 non-null  float64
dtypes: bool(1), float64(7), int64(6), object(8)
memory usage: 4.4+ MB

In [ ]:
# checking data distribution
df.describe()

,PRECINCT,JURISDICTION_CODE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,year,month,day,hour,minute,LON_GEO,LAT_GEO
count,27308.000000,27308.000000,2.730800e+04,27308.000000,27308.000000,27308.000000,27308.000000,27308.000000,27308.000000,27308.000000,27308.000000,27308.000000,27308.000000
mean,65.637982,0.326864,1.009449e+06,208124.865512,40.737886,-73.909051,2013.492273,6.825546,15.930973,12.223085,28.159184,-73.909051,40.737886
std,27.304809,0.737698,1.837847e+04,31886.586417,0.087510,0.066262,5.143153,3.128870,8.931765,8.486168,17.488024,0.066262,0.087510
min,1.000000,0.000000,9.149281e+05,125756.718750,40.511586,-74.249303,2006.000000,1.000000,1.000000,0.000000,0.000000,-74.249303,40.511586
25%,44.000000,0.000000,1.000029e+06,182832.343750,40.668481,-73.943000,2009.000000,5.000000,8.000000,3.000000,14.000000,-73.943000,40.668481
50%,68.000000,0.000000,1.007731e+06,194478.093750,40.700331,-73.915210,2013.000000,7.000000,16.000000,15.000000,29.000000,-73.915210,40.700331
75%,81.000000,0.000000,1.016838e+06,239518.468750,40.824066,-73.882330,2018.000000,9.000000,24.000000,20.000000,44.000000,-73.882330,40.824066
max,123.000000,2.000000,1.066815e+06,271127.687500,40.910818,-73.702046,2022.000000,12.000000,31.000000,23.000000,59.000000,-73.702046,40.910818

In [15]:
# checking no of values
for i in df.columns:
    print(df[i].value_counts(), "\n")

BORO
BROOKLYN         10932
BRONX             7935
QUEENS            4094
MANHATTAN         3571
STATEN ISLAND      776
Name: count, dtype: int64

PRECINCT
75     1557
73     1452
67     1216
44     1020
79     1012
       ...
112      23
19       20
111      11
17       10
22        1
Name: count, Length: 77, dtype: int64

JURISDICTION_CODE
0.0    22808
2.0     4426
1.0       74
Name: count, dtype: int64

LOCATION_DESC
MULTI DWELL - PUBLIC HOUS    20784
MULTI DWELL - APT BUILD       2835
PVT HOUSE                      951
GROCERY/BODEGA                 694
BAR/NIGHT CLUB                 627
COMMERCIAL BLDG                292
RESTAURANT/DINER               204
NONE                           175
BEAUTY/NAIL SALON              112
FAST FOOD                      104
SOCIAL CLUB/POLICY LOCATI       72
GAS STATION                     70
HOSPITAL                        65
LIQUOR STORE                    41
SMALL MERCHANT                  37
STORE UNCLASSIFIED              36
HOTEL/MOTEL                     35
DRY CLEANER/LAUNDRY             31
SUPERMARKET                     21
DRUG STORE                      14
CLOTHING BOUTIQUE               14
JEWELRY STORE                   12
TELECOMM. STORE                 11
VARIETY STORE                   11
SHOE STORE                      10
DEPT STORE                       9
FACTORY/WAREHOUSE                8
VIDEO STORE                      8
CANDY STORE                      7
CHAIN STORE                      5
BANK                             3
GYM/FITNESS FACILITY             3
ATM                              1
DOCTOR/DENTIST                   1
SCHOOL                           1
LOAN COMPANY                     1
PHOTO/COPY STORE                 1
CHECK CASH                       1
STORAGE FACILITY                 1
Name: count, dtype: int64

STATISTICAL_MURDER_FLAG
False    22042
True      5266
Name: count, dtype: int64

PERP_AGE_GROUP
18-24      16205
25-44       5687
UNKNOWN     3148
<18         1591
45-64        617
65+           60
Name: count, dtype: int64

PERP_SEX
M    25385
U     1499
F      424
Name: count, dtype: int64

PERP_RACE
BLACK                             21380
WHITE HISPANIC                     2339
UNKNOWN                            1836
BLACK HISPANIC                     1314
WHITE                               283
ASIAN / PACIFIC ISLANDER            154
AMERICAN INDIAN/ALASKAN NATIVE        2
Name: count, dtype: int64

VIC_AGE_GROUP
25-44      12279
18-24      10085
<18         2839
45-64       1863
65+          181
UNKNOWN       61
Name: count, dtype: int64

VIC_SEX
M    24682
F     2615
U       11
Name: count, dtype: int64

VIC_RACE
BLACK                             19437
WHITE HISPANIC                     4047
BLACK HISPANIC                     2646
WHITE                               698
ASIAN / PACIFIC ISLANDER            404
UNKNOWN                              66
AMERICAN INDIAN/ALASKAN NATIVE       10
Name: count, dtype: int64

X_COORD_CD
1.017119e+06    66
1.008276e+06    47
1.026387e+06    47
9.367217e+05    44
1.017141e+06    44
                ..
9.919120e+05     1
9.988600e+05     1
1.029942e+06     1
1.032301e+06     1
1.014890e+06     1
Name: count, Length: 12087, dtype: int64

Y_COORD_CD
183909.34375    66
262634.00000    47
183623.00000    47
172119.43750    44
183798.00000    44
                ..
239232.00000     1
234064.00000     1
255003.00000     1
237759.00000     1
253621.00000     1
Name: count, Length: 12282, dtype: int64

Latitude
40.671413    66
40.670655    47
40.887451    47
40.638985    44
40.671107    44
             ..
40.855122     1
40.678962     1
40.673433     1
40.865147     1
40.849900     1
Name: count, Length: 12616, dtype: int64

Longitude
-73.881510    66
-73.913391    47
-73.847608    47
-74.171253    44
-73.881433    44
              ..
-73.833002     1
-73.951972     1
-73.918945     1
-73.957114     1
-73.895887     1
Name: count, Length: 12607, dtype: int64

year
2006    2055
2021    2011
2008    1959
2020    1948
2011    1939
2010    1911
2007    1887
2009    1828
2012    1717
2022    1715
2014    1464
2015    1433
2013    1338
2016    1208
2017     970
2019     967
2018     958
Name: count, dtype: int64

month
7     3237
8     3156
6     2829
9     2572
5     2571
10    2279
12    1996
4     1982
11    1944
1     1716
3     1686
2     1340
Name: count, dtype: int64

day
5     1029
27     983
26     954
1      951
21     945
22     940
25     936
2      927
4      914
23     910
11     903
17     897
28     890
18     884
12     881
20     873
16     871
13     870
9      866
15     865
30     863
19     858
7      851
29     850
6      848
24     842
14     826
3      818
8      808
10     786
31     669
Name: count, dtype: int64

hour
23    2304
0     2186
22    2162
1     2081
21    1972
2     1811
20    1683
3     1633
19    1477
4     1440
18    1247
17    1070
16    1033
15     924
14     786
5      702
13     577
12     490
11     372
6      366
10     304
8      238
7      233
9      217
Name: count, dtype: int64

minute
30    1790
0     1718
15    1084
50    1056
45     976
20     964
40     963
10     903
55     766
5      717
35     708
25     690
58     369
3      364
22     361
18     357
8      355
47     346
17     345
13     342
48     341
38     338
23     337
28     336
56     335
9      332
54     331
12     327
2      327
29     325
34     323
36     321
14     318
37     314
26     313
33     310
53     309
21     307
39     307
7      307
57     303
43     303
46     302
32     301
42     300
49     297
24     296
19     294
16     292
11     291
44     288
59     286
1      285
52     282
27     276
41     269
51     267
6      264
4      262
31     218
Name: count, dtype: int64

LON_GEO
-73.881510    66
-73.913391    47
-73.847608    47
-73.881433    44
-74.171253    44
              ..
-74.026242     1
-73.890315     1
-73.937075     1
-73.889239     1
-73.826760     1
Name: count, Length: 12618, dtype: int64

LAT_GEO
40.671413    66
40.670655    47
40.887451    47
40.671107    44
40.638985    44
             ..
40.672716     1
40.698008     1
40.855122     1
40.678962     1
40.673433     1
Name: count, Length: 12619, dtype: int64

In [16]:
# map JURISDICTION_CODE
mapping = {
    0: "Patrol",
    1: "Transit",
    2: "Housing"
}
df['JURISDICTION_CODE'] = df['JURISDICTION_CODE'].map(mapping)
df['JURISDICTION_CODE'].value_counts()

JURISDICTION_CODE
Patrol     22808
Housing     4426
Transit       74
Name: count, dtype: int64

In [17]:
# save data
df.to_csv("NYPD_Shooting_Incident_Data__Historic_Cleaned.csv", index= False)